@page

<h1>Python概览 PythonOverlook</h1>

<ul>
	<li><a href="#Python介绍与编程环境设置">Python介绍与编程环境设置</a></li>
	<li><a href="#HelloWorld与注释">HelloWorld与注释</a></li>
	<li><a href="#标识符 关键字 变量 常量">标识符 关键字 变量 常量</a></li>
	<li><a href="#基本数据类型">基本数据类型</a></li>
	<li><a href="#基本数据结构">基本数据结构</a></li>
	<li><a href="#表达式与运算符">表达式与运算符</a></li>
	<li><a href="#流程控制">流程控制</a></li>
	<li><a href="#异常">异常</a></li>
	<li><a href="#函数">函数</a></li>
	<li><a href="#结构体">#结构体</a></li>
	<li><a href="#面向对象(基础)">#面向对象(基础)</a></li>
	<li><a href="#标准库简介">标准库简介</a></li>
	<li><a href="#输入输出">输入输出</a></li>
	<li><a href="#基本数学">基本数学</a></li>
	<li><a href="#文本处理">文本处理</a></li>
	<li><a href="#时间日期">时间日期</a></li>
	<li><a href="#数据安全">数据安全</a></li>
	<li><a href="#网络通讯">网络通讯</a></li>
	<li><a href="#数据库">数据库</a></li>
    <li><a href="#多线程">多线程</a></li>
	<li><a href="#跨语言编程">跨语言编程</a></li>
</ul>




<h2 id="Python介绍与编程环境设置">Python介绍与编程环境设置</h2>

<p>python是一门简单方便且应用广泛的动态脚本编程语言.</p>

<p>可以到<a href="python.org">Python官网</a>下载其安装包.</p>
<p>双击安装包, 根据提示设置软件安装位置, 记得勾选"添加到PATH"选项.</p>

<p>打开终端模拟器, 输入<pre><code>python --version</code></pre></p>
<p>如果出现类似下面的输出, 则代表安装成功: </p>
<pre><code>Python 3.13.7</code></pre>

<h2 id="HelloWorld与注释">HelloWorld与注释</h2>



<h2 id="标识符 关键字 变量 常量">标识符 关键字 变量 常量</h2>

<h2 id="基本数据类型">基本数据类型</h2>

<h2 id="基本数据结构">基本数据结构</h2>

<h2 id="表达式与运算符">表达式与运算符</h2>

<h2 id="流程控制">流程控制</h2>

<h2 id="异常">异常</h2>

<h2 id="函数">函数</h2>

<h2 id="结构体">结构体</h2>

<h2 id="标准库简介">标准库简介</h2>

<h2 id="输入输出">输入输出</h2>

<h2 id="基本数学">基本数学</h2>

<h2 id="文本处理">文本处理</h2>

<h2 id="时间日期">时间日期</h2>

<h2 id="数据安全">数据安全</h2>

<h2 id="网络通讯">网络通讯</h2>

<h2 id="数据库">数据库</h2>

<h2 id="多线程">多线程</h2>

<h2 id="跨语言编程">跨语言编程</h2>



