@page

<h1>编程语言 ProgrammingLanguage</h1>

<p>基础部分: </p>
<ul>
	<li><a href="01-IntroductionToProgrammingLanguage">01-编程语言介绍 IntroductionToProgrammingLanguage</a></li>
	<li><a href="02-BasicProgrammingEnvironment">02-基础编程环境 BasicProgrammingEnvironment"</a></li>
	<li><a href="03-Literal&Variable&Constant">03-字面量 变量与常量 Literal&Variable&Constant</a></li>
	<li><a href="04-BasicDataType">04-基本数据类型 BasicDataType</a></li>
	<li><a href="05-BaiscDataStructure">05-基本数据结构 BaiscDataStructure</a></li>
	<li><a href="06-Expression&Operator">06-表达式与操作符 Expression&Operator</a></li>
	<li><a href="07-FlowControl">07-流程控制 FlowControl</a></li>
	<li><a href="08-Exception">08-异常 Exception</a></li>
	<li><a href="09-Function">09-函数 Function</a></li>
	<li><a href="10-Struct">10-结构体 Struct</a></li>
	<li><a href="11-Pointer">11-指针 Pointer</a></li>	
	<li><a href="12-OOP(Basic)">12-面向对象(基础) OOP(Basic)</a></li>
	<li><a href="13-StandardLibraryOverview">13-标准库简介 StandardLibraryOverview</a></li>
	<li><a href="14-Input&Output">14-输入输出 Input&Output</a></li>
	<li><a href="15-BasicMath">15-基本数学 BasicMath</a></li>
	<li><a href="16-TextProcess">16-文本处理 TextProcess</a></li>
	<li><a href="17-Time&Date">17-时间日期 Time&Date</a></li>
	<li><a href="18-Security">18-数据安全 Security</a></li>
	<li><a href="19-Network">19-网络通讯 Network</a></li>
	<li><a href="20-Database">20-数据库 Database</a></li>
	<li><a href="21-Multithreading">21-多线程 Multithreading</a></li>
	<li><a href="22-FFI">22-跨语言编程 FFI</a></li>
</ul>


@* <p>高级部分</p>
<ul>
	<li>50-面向对象(高级) OOP(High)</li>
	<li>50-泛型 Generic</li>
	<li>50-接口 Interface</li>
</ul> *@


<p>各种编程语言概览</p>
<ul>
	<li><a href="90-PythonOverlook">90-Python概览 PythonOverlook</a></li>
	<li><a href="90-CSharpOverlook">90-CSharp概览 CSharpOverlook</a></li>
	<li><a href="90-JavaScriptOverlook">90-JavaScript概览 JavaScriptOverlook</a></li>
</ul>



<p>前置知识: 基本电脑操作 基本命令行操作 基本计算机组成知识</p>
<p>编程语言主要可以分为汇编语言与高级语言.</p>
<p>这部分笔记主要关注高级语言, 也就是类似C C++ C# Java Python Javascript等常用的高级编程语言.</p>
<p>当在讨论一种高级编程语言时, 小兔主要关注这种编程语言的三部分: 语言特性 语法设计 常用库</p>
<p>这其中, 语言特性是这种编程语言的灵魂, 语法设计显示了其品味喜好, 常用库则是艰苦但必要的工作.</p>
<p>需要指出的是: 很多编程语言共享了很多常见的语言特性, 这部分语言特性是我们在初学编程语言时最值得关注的部分.</p>
<p>在基础部分, 我们主要关注的就是最常见的语言特性以及非常基础的标准库; 而在高级部分中, 则会讨论一些相对高级少见的语言特性.</p>
<p>稍微再强调一下, 这并不是针对某一种高级编程语言的笔记, 而是对多种常见高级编程语言的总结性笔记.</p>
<p>这里小兔建议同时掌握多种编程语言以及编程范式(编程范式在这里指的就是组织数据和操作的方法), 并根据实际项目需要使用. </p>
<p>面向对象是一种编程范式, 也就是一种组织代码的方式, 软件工程的核心就是控制代码的复杂度.</p>
<p>最后, 常见的高级编程语言都支持多种编程范式, 使用哪种编程范式要根据实际需求确定, 不要将简单的任务复杂化.</p>



@* <p>附录</p>
<ul>
	<li>中英术语对照表</li>
	<li>编程语言语法设计总结</li>
    <li>基本程序项目结构</li>
    <ul>
        <li>文件夹</li>
        <li>文件</li>
        <li>语句块</li>
        <li>语句</li>
        <li>表达式</li>
    </ul>
</ul> *@