@page


<h1>词根词缀 Root&Affix</h1>

<ul>
    <li><a href="Root/Index">词根 Root</a></li>
    <li><a href="Affix/Index">词缀 Affix</a></li>
</ul>


<p>参考资料: </p>
<ul>
    <li>英语词根与单词的说文解字-李平武</li>
    <li>英语词缀与英语派生词-李平武</li>
</ul>
<p>非常感谢先生们筚路蓝缕不散的辉光, 学生感激不尽.</p>




