@page

<h1>TAG周报 TAG-Weekly</h1>
<ul>
    <li><a href="2025/Index">TAG-2025</a></li>
    <li><a href="2026/Index">TAG-2026</a></li>
    <li><a href="2027/Index">TAG-2027</a></li>
</ul>

<p>欢迎来到TAG周报! <br>Welcome to TAG Weekly!</p>
<p>T: Technology 科技<br>A: Animation 动漫<br>G: Game 游戏</p>