@page

<h1>语音学 Phonetics</h1>



<p>语音学: 研究自然属性 不针对某一特定语言</p>
<ul>
    <li>发声语音学: 研究发音过程 生理属性</li>
    <li>声学语音学: 研究语音传递 物理属性</li>
    <li>听觉语音学: 研究感知语音 心理属性</li>
</ul>
    

<p>语音学的最小单位: 音素 phone, phonetic segment, 跨越不同语言的最小单位.</p>

<p>国际音标IPA International Phonetic Alphbet, 其记录的是音素</p>


<p>关于IPA国际音标的互联网地址: https://www.InternationAlphoneticAssociation.org
</p>
<p>下面是对应的国际音标图片: </p>

<img src="~/image/Note-IPA_Kiel_2020_full_300-[C81500AD].png"/>

<p>也可以在下面这个地址下载到不同清晰度的国际音标: https://www.internationalphoneticassociation.org/IPAcharts/IPA_chart_orig/IPA_charts_E.html
</p>


<h2>声学语音学: </h2>

<p>语音四要素</p>
<ul>
    <li>音高Pitch: 发音体震动的快慢</li>
    <li>音强Stress: 发音体震动的强弱</li>
    <li>音长Duration: 发音持续时间的长短</li>
    <li>音质</li>
    <ul>
        <li>发音体的差别</li>
        <li>发音方法</li>
        <li>共鸣腔的形状</li>
    </ul>
</ul>

<p>部分语言中, 比如汉语 越南语等, 某些音节的不同音高也就是不同声调, 会有意义上的差别.</p>


<h2>发声语音学</h2>

<p>发音器官</p>
<ul>
    <li>动力区: 肺</li>
    <li>发音体: 喉头和声带</li>
    <li>共鸣腔: 咽腔 口腔 鼻腔</li>
</ul>