@page

<h1>音系学 Phonology</h1>




音系学: 研究社会属性 针对某一特定语言

音系学的最小单位: 音位, phoneme, 针对于某种特定语言的最小单位.

对于拼音文字来讲, 比如英语 拉丁语, 其文字记录的是音位.

音节 Syllable: 汉语中的音节缺少连读, 音节与音节之间有着明确的区分, 同时汉语的音节与汉字之间基本上有一对一的对应关系.

对于汉字来讲, 其文字记录的是音节.
对于日文来讲, 每一个假名其对应的也是一个音节.