@page

<h1>语言学习 Linguistics&Languages</h1>

<ul>
    <li><a href="01-Linguistics/Index">01-语言学 Linguistics</a></li>
    <li><a href="02-Chinese/Index">02-汉语 Chinese</a></li>
    <li><a href="03-English/Index">03-英语 English</a></li>
    <li><a href="04-Japanese/Index">04-日语 Japanese</a></li>
    <li><a href="05-Korean/Index">05-韩语 Korean</a></li>
    <li><a href="06-Spanish/Index">06-西班牙语 Spanish</a></li>


    @* multi-language-Dictionary *@
</ul>