@page

<h1>网站开发 WebsiteDevelopment</h1>

<ul>
	<li><a href="00-Introduction/Index">00-Introduction </a></li>
	<li><a href="01-HTML&CSS/Index">01-HTML&CSS</a></li>
	<li><a href="02-JavaScript/Index">02-JavaScript</a></li>
	<li><a href="03-AspDotNetCore/Index">03-AspDotNetCore</a></li>
	<li><a href="04-Deployment&Maintenance/Index">04-Deployment&Maintenance</a></li>
	<li><a href="05-Attacked&Recovery/Index">05-Attacked&Recovery</a></li>
	<li><a href="06-Bootstrap/Index">06-Bootstrap</a></li>
	<li><a href="07-PWA/Index">07-PWA</a></li>
	<li><a href="08-WebGPU/Index">08-WebGPU</a></li>
</ul>