@page

<h1>区域分析 RegionAnalysis</h1>

<ul>
    <li><a href="China-JingJinJi/Index">中国-京津冀 China-JingJinJi</a></li>
    <li><a href="China-ChangSanJiao/Index">中国-长三角 China-ChangSanJiao</a></li>
    <li><a href="China-ZhuSanJiao/Index">中国-珠三角 China-ZhuSanJiao</a></li>
    <li><a href="Japan-TokyoBay/Index">日本-东京湾 Japan-TokyoBay</a></li>
</ul>

<p>区域分析整体思路: </p>
<ul>
    <li>地理: 行政区划 地形天气</li>
    <li>历史: </li>
    <li>经济: </li>
    <ul>
        <li>经济总量: </li>
        <li>产业构成: </li>
        <ul>
            <li>一二三产</li>
            <li>支柱产业</li>
            <li>特色/高增长/高科技产业</li>
            <li></li>
        </ul>
        <li>基础设施: </li>
        <ul>
            <li>交通</li>
            <li>能源</li>
            <li>政府</li>
            <ul>
                <li>政策</li>
                <li>税收</li>
                <li>监管</li>
            </ul>
        </ul>
    </ul>
    <li>文化: </li>
</ul>