@page


<h1>计算编程 Computation&Program</h1>

<ul>
	
	<li>01-基础知识 Basic Knowledge</li>
	<ul>
		<li><a href="0100-Introduction/Index">0100-计算机科学介绍 IntroductionToComputerScience</a></li>
		<li><a href="0101-ProgrammingLanguage/Index">0101-编程语言 ProgrammingLanguage</a></li>
		<li><a href="0102-DataStructure&Algorithm/Index">0102-数据结构与算法 DataStructure&Algorithm</a></li>
		<li><a href="0103-ComputerOrganization/Index">0103-计算机组成原理 ComputerOrganization</a></li>
		<li><a href="0104-ComputerArchitecture/Index">0104-计算机体系结构 ComputerArchitecture</a></li>
		<li><a href="0105-DigitalCircuitDesign/Index">0105-数字电路设计 DigitalCircuitDesign</a></li>
		<li><a href="0106-AssemblyLanguage/Index">0106-汇编语言 AssemblyLanguage</a></li>
		<li><a href="0107-Compiler/Index">0107-编译器 Compiler</a></li>
		<li><a href="0108-OperatingSystem/Index">0108-操作系统 OperatingSystem</a></li>
		<li><a href="0109-ComputerNetwork/Index">0109-计算机网络 ComputerNetwork</a></li>
		<li><a href="0110-Database/Index">0110-数据库 Database</a></li>
	</ul>
	<li>02-实践应用 Practice&Application </li>
	<ul>
		<li><a href="0200-PopularSoftware/Index">0200-常用软件 PopularSoftware</a></li>
		<li><a href="0200-HighPerformanceComputing/Index">0200-高性能计算 HighPerformanceComputing</a></li>
		<li><a href="0200-ComputerGraphics/Index">0200-计算机图形学 ComputerGraphics</a></li>
		<li><a href="0200-ArtificialIntelligence/Index">0200-人工智能 ArtificialIntelligence</a></li>
		<li><a href="0200-ProjectManagement/Index">0200-项目管理 ProjectManagement</a></li>
		<li><a href="0200-SoftwareDevelopment/Index">0200-软件开发 SoftwareDevelopment</a></li>
		<li><a href="0200-WebsiteDevelopment/Index">0200-网站开发 WebsiteDevelopment</a></li>
	</ul>
	<li>03-项目经验 ProjectExperience</li>
	<ul>
		<li> </li>
	</ul>
</ul>








@* <li><a href="Dictionary">计算加速: 软件免费提供(GPLv3?), 但是可以通过硬件加速ASIC拓展卡/云服务的形式?</a></li> *@
@* <li><a href="Dictionary">以BS架构为核心, 前期主要关注功能实现, 以通用CPU计算为核心.</a></li> *@
@* <li><a href="Dictionary">没有足够资金时, 加速服务以云服务(可以使用其他服务商的硬件加速服务)提供.</a></li> *@
@* <li><a href="Dictionary">有足够资金后, 加速服务以硬件加速ASIC拓展卡与云服务提供.</a></li> *@
@* <li><a href="Dictionary">软件免费开源, 硬件或云端加速收费.</a></li> *@
@* <li><a href="Dictionary">最后再次强调, 关注社会需求! 社会需求才是最核心的.</a></li> *@
