@page

<h1>240607</h1>

<p>简单地描述一下未来要做的事：</p>
<ul>
    <li>2024年</li>
    <ul>
        <li>数字艺术</li>
        <li>语言: 英语+日语</li>
    </ul>
    <li>2025年</li>
    <ul>
        <li>语言: 英语+日语</li>
        <li>在线美高学位</li>
    </ul>
    <li>2026年</li>
    <ul>
        <li>准备大学考试</li>
    </ul>
    <li>2027年</li>
    <ul>
        <li>东京大学入学(College of Design)</li>
    </ul>
    <li>2030-2040</li>
    <ul>
        <li>读博异构计算方向+CFA.</li>
    </ul>
</ul>
