@page

<h1>240619</h1>

<p>这个世界好复杂呀～</p>
<p>​在理解人心这一点上，看书似乎一点用都没有啊，QAQ。</p>


<p>学习过程中，确实会犯错。</p>
<p>​只不过，现实人际关系上的学习不像课本知识。</p>
<p>课本​知识上犯了错，最多是老师的红叉或者考试分数低一点。</p>
<p>​现实人际关系上的学习，犯错会给别人带来很大的困扰。</p>
<p>所以，对那些因为我还不太成熟感到困扰的人，真的很抱歉。</p>