@page

<h1>240831</h1>

<p>Le Sserafim出新专啦，小樱花还是辣么漂亮～</p>
<p>​奥德赛音乐剧『EPIC』出新曲啦，GOD GAMES好喜欢！</p>
<p>黑神话悟空一周目通关，四妹真的好可爱，好喜欢*^_^*！</p>
<p>​花点小钱，买了台二手R730XD，打算用来做存储服务器。</p>
<p>以后再多买点硬盘，想把sci-hub镜像以后，对外免费提供服务。</p>
<p>个人网站这几天建起来啦，用的asp.net core  razor pages，一开始想用blazor来着，但玩不明白，哈哈。</p>
<p>​买了几本新书，主要是关于C#的，主要是想看看运行时内存是怎么处理的（源码啃不动～）。</p>
<p>​发现了一个叫SnapRAID的开源项目，算是非实时RAID，很好用。</p>
<p>​尝试用Godot写了个小软件，主要用来显示函数图像，但做得很烂，暂时也没有改进的想法。</p>
<p>​最后就是再次坚定的认为，指令集是整个计算系统中最为重要的东西。</p>
<p>​编译器 指令集 微架构 三者彼此依存相互链接。</p>