@page

<h1>240928</h1>

<p>脑海里现在还是满载重型货车在耳边的轰鸣，离得最近的时候可能连半米都没有。</p>
<p>​擦到就是骨折，碰到搞不好全尸都没有，今天确实是吓坏了。</p>
<p>​更糟的是，路上被压成纸片的“龙”“凤”“虎”，一再预示前路的危险不幸。</p>
<p>​古人云，行百里者半九十。今天虽然没有100公里，但也相差不远。最后二十公里是一点一点从身体里榨出的力气才骑完。</p>
<p>​说真的，这让自己之前的体能适应性训练像个笑话。</p>
<p>​可能是因为太累了，今天负能量太重了，好好休息吧，明天就是新的挑战了。</p>

<p>洗澡发现，两边手掌因为握把握得太紧，都已经青了一大块。</p>