@page

<h1>241012</h1>

<p>北京，刷新了自己很多认知，可能是运气不太好，大部分是负面的。</p>
<p>​其中，感触最深的是年轻人和一部分老年人的对比。</p>
<p>​年轻人整体上给我的感觉就是累，一种是酒色掏空的累，一种是工作过度的累；一个需要锻炼，一个需要休息。当然大部分人是后者。</p>
<p>​一部分老年人（绝对数量肯定很少，但印象实在太深了），有着一种街溜子气质，流里流气，痞里痞气，这是我第一次如此深刻的有了这种老年街溜子气质的认知。他们散发的生命力实在是让我“叹为观止”。</p>
<p>小兔对街溜子是没啥太大的感受的，基本等同于一群无所事事的年轻人在街上闲逛，确实在治安上有一定的隐患。但其实年轻人嘛，总有迷茫找不到人生方向的时候，所以单纯的“街溜”（时髦洋气的说法叫“City Walk”），其实没啥。</p>
<p>我认识的很多曾经的街溜子，也都逐渐成家立业，有的还有了孩子，他们也都踏实肯干，人生也有了方向。</p>
<p>但非常流里流气的老人，实在是刷新了我的认知，这是我第一次把“痞气”和“老人”联系到一起，非常的出乎意料。</p>
<p>年轻人和这一部分老人的对比，实在是（一个形容词，表达震惊与难以理解，明褒实贬），我看不懂。</p>