@page

<h1>241025</h1>

<p>反对Linus Torvalds在Linux内核维护者中删除俄罗斯开发者这一行为。</p>
<p>​小兔对Linus本人是非常尊敬的，也很喜欢Linux操作系统。</p>
<p>但是删除俄罗斯内核维护者这一行为，严重违反了开源道德。</p>
<p>​让技术归技术，政治归政治。技术应当纯粹，开发者不应卷入政治风波。</p>

<p>很遗憾在1024得知这一消息，非常难过。</p>

<p>非常遗憾，接下来需要将开源社区稳定性纳入分析网络，并准备备用方案。</p>