@page

<h1>241029</h1>

<p>ITZY的Imaginary Friend超好听，MV也超好看。lia病愈回归很开心，yuna舞蹈跳的超棒！</p>
<p>​刚刚发现B站竟然上了胆大党，没想到。战斗恋爱喜剧，十月番里胆大党强推。</p>
<p>​最近试了试RustDesk，体验不错，看看要不要自己买一个轻量云自建Host。</p>
<p>​尝试着把自己乱七八糟的各种文件整理了一下，只弄完一半，头疼文件管理中。</p>
<p>​以及在思考，要不要把R730xd配置向上加。目前主要是存储服务器，性能要求不高，但有没有必要当做编译服务器这事还在想。</p>
<p>毕竟自己编译了一下UE5.4和Godot4.3，其中UE花了快一小时，源码+依赖+编译产物占了200+G,离谱。Godot4.3倒还好，只花了10分钟。</p>
<p>最后就是重新思考了Raid以及GUI框架的问题。至少就目前来讲SnapRaid完全满足了自己的需要，方案整体复杂度最低健壮性最强。Godot也一样，完全满足当下需要，同时有着充分的面相未来特性。</p>
<p>（By the way， Avalonia跨平台自绘+CSharp+WPF很符合我的技术审美，还是要保持关注，哈哈哈哈～）</p>