@page

<h1>241128</h1>

<p>好困，不想起……</p>
<p>​做梦的时候，把问药的剧情过了下，感觉太无聊了。</p>
<p>​问药是个大项目，慢慢来吧……</p>
<p>​还是好困啊~</p>


<p>以异构硬件为基础的计算加速服务。</p>


<p>异地组网：主，Tailscale 备，蒲公英</p>
<p>​远程桌面：主，RustDesk 备，向日葵 另，Windows RDP</p>
<p>文件同步：主，ResilioSync 另，Windows SMB</p>
<p>目前的远程办公方案。</p>