@page

<h1>241127</h1>

<p>最近想着翻译ECMA-334（也就是CSharp语言标准）里面自己感兴趣的部分，但太懒了还没有开始。</p>
<p>最近主要是在看AE相关的文档，感觉Adobe的文档质量提高了不少。</p>
<p>​同时重新思考了高性能计算的未来：未来必定是异构加速计算，使用专用芯片对特定任务进行加速。</p>
<p>最大问题仍然是成本与效益的考量：</p>
<p>​最优解一定是先进制程的ASIC，但不是所有的任务都能够付出对应的时间与金钱成本。</p>
<p>​所以如何在成本限制下，尽可能提高效益，亦或是满足计算需求下，尽可能降低成本，这才是最大的考验。</p>
<p>​这当然是一个典型的技术问题，但更多的是工程问题，是在现实的诸多限制下，建立一整套完整的软硬件方案，以满足不同领域的计算需求。</p>