@page

<h1>241106</h1>

<p>买了辆迪卡侬的Riverside 500，今天调试刹车的时候，把手划伤了。</p>
<p>​刚从医院回来，休息了一阵子。现在还是感觉很难绷，​以后长点记性吧。</p>
<p>​话说，这算不算滴血认主啊，希望未来车子能对我好点。</p>

<p>打了流感疫苗（123元）和破伤风疫苗（215元）。</p>
<p>流感疫苗一针就够了，可以保障一年；​破伤风疫苗还要打两针，一个月以后和一年以后，可以保障十年。</p>
<p>​希望自己未来身体健康吧～</p>