@page


<h1>计算机网络 Computer Network</h1>
<br>

<ul>
    <li>计算机网络概述</li>
    <li>物理层</li>
    <li>数据链路层</li>
    <li>网络层</li>
    <li>传输层</li>
    <li>应用层</li>
    <li>网络安全</li>
</ul>

<p>重难点在数据链路层与网络层</p>

<p>参考资料如下: </p>
<ul>
    <li>视频: 王道计算机考研 计算机网络<br>来自: https://www.bilibili.com/video/BV19E411D78Q</li>
    <li>视频: 《计算机网络》4小时期末速成课！期末速成丨考前突击丨期末不挂科丨考点总结<br>来自: https://www.bilibili.com/video/BV1H4kwYHEcR</li>
    <li>网页: 计算机网络基础知识总结<br>来自: https://www.runoob.com/w3cnote/summary-of-network.html</li>
</ul>