@page

<h1>词根 Root</h1>

<ul>
    <li>常见词根 PopularRoot</li>
    <ul>
        <li><a href="ag">ag</a></li>
        <li><a href="am">am</a></li>
        <li><a href="anim">anim</a></li>
        <li><a href="ann">ann</a></li>
        <li><a href="anthrop">anthrop</a></li>
        <li><a href="arch">arch</a></li>
        <li><a href="aud">aud</a></li>
        <li><a href="aug">aug</a></li>
        <li><a href="bi">bi</a></li>
        <li><a href="cad">cad</a></li>
        <li><a href="cap">cap</a></li>
        <li><a href="ced">ced</a></li>
        <li><a href="centr">centr</a></li>
        <li><a href="cern">cern</a></li>
        <li><a href="cid">cid</a></li>
        <li><a href="claim">claim</a></li>
        <li><a href="clin">clin</a></li>
        <li><a href="clud">clud</a></li>
        <li><a href="cord">cord</a></li>
        <li><a href="corp">corp</a></li>
        <li><a href="cred">cred</a></li>
        <li><a href="cresc">cresc</a></li>
        <li><a href="cub">cub</a></li>
        <li><a href="cult">cult</a></li>
        <li><a href="cur">cur</a></li>
        <li><a href="cycl">cycl</a></li>
        <li><a href="dem">dem</a></li>
        <li><a href="dic">dic</a></li>
        <li><a href="doc">doc</a></li>
        <li><a href="duc">duc</a></li>
        <li><a href="equ">equ</a></li>
        <li><a href="fac">fac</a></li>
        <li><a href="fer">fer</a></li>
        <li><a href="fid">fid</a></li>
        <li><a href="fig">fig</a></li>
        <li><a href="fin">fin</a></li>
        <li><a href="flu">flu</a></li>
        <li><a href="form">form</a></li>
        <li><a href="fort">fort</a></li>
        <li><a href="frag">frag</a></li>
        <li><a href="fund">fund</a></li>
        <li><a href="gen">gen</a></li>
        <li><a href="ger">ger</a></li>
        <li><a href="gnos">gnos</a></li>
        <li><a href="grad">grad</a></li>
        <li><a href="gram">gram</a></li>
        <li><a href="grat">grat</a></li>
        <li><a href="hab">hab</a></li>
        <li><a href="it">it</a></li>
        <li><a href="jac">ac</a></li>
        <li><a href="junct">junct</a></li>
        <li><a href="jur">jur</a></li>
        <li><a href="lat">lat</a></li>
        <li><a href="leg">leg</a></li>
        <li><a href="loc">loc</a></li>
        <li><a href="log">log</a></li>
        <li><a href="loqu">oqu</a></li>
        <li><a href="lud">lud</a></li>
        <li><a href="man">man</a></li>
        <li><a href="mand">mand</a></li>
        <li><a href="medi">medi</a></li>
        <li><a href="min">min</a></li>
        <li><a href="mit">mit</a></li>
        <li><a href="mod">mod</a></li>
        <li><a href="mont">mont</a></li>
        <li><a href="mort">mort</a></li>
        <li><a href="mov">mov</a></li>
        <li><a href="nasc">nasc</a></li>
        <li><a href="not">not</a></li>
        <li><a href="nounc">nounc</a></li>
        <li><a href="ord">ord</a></li>
        <li><a href="par">par</a></li>
        <li><a href="part">part</a></li>
        <li><a href="pati">pati</a></li>
        <li><a href="patri">patri</a></li>
        <li><a href="ped">ped</a></li>
        <li><a href="pel">pel</a></li>
        <li><a href="pend">pend</a></li>
        <li><a href="pet">pet</a></li>
        <li><a href="ple">ple</a></li>
        <li><a href="plic">plic</a></li>
        <li><a href="polic">polic</a></li>
        <li><a href="pon">pon</a></li>
        <li><a href="port">port</a></li>
        <li><a href="prehend">prehend</a></li>
        <li><a href="press">press</a></li>
        <li><a href="prob">prob</a></li>
        <li><a href="quer">quer</a></li>
        <li><a href="reg">reg</a></li>
        <li><a href="rog">rog</a></li>
        <li><a href="rupt">rupt</a></li>
        <li><a href="sci">sci</a></li>
        <li><a href="scrib">scrib</a></li>
        <li><a href="sect">sect</a></li>
        <li><a href="sent">sent</a></li>
        <li><a href="sequ">sequ</a></li>
        <li><a href="serv">serv</a></li>
        <li><a href="sid">sid</a></li>
        <li><a href="sign">sign</a></li>
        <li><a href="sist">sist</a></li>
        <li><a href="solv">solv</a></li>
        <li><a href="spec">spec</a></li>
        <li><a href="spir">spir</a></li>
        <li><a href="st">st</a></li>
        <li><a href="string">string</a></li>
        <li><a href="stru">stru</a></li>
        <li><a href="tang">tang</a></li>
        <li><a href="ten">ten</a></li>
        <li><a href="tend">tend</a></li>
        <li><a href="tract">tract</a></li>
        <li><a href="uni">uni</a></li>
        <li><a href="val">val</a></li>
        <li><a href="ven">ven</a></li>
        <li><a href="vert">vert</a></li>
        <li><a href="vid">vid</a></li>
        <li><a href="viv">viv</a></li>
        <li><a href="voc">voc</a></li>
        <li><a href="volv">volv</a></li>         
        </ul>
    <li>更多词根 MoreRoot</li>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</ul>