@page


<h1>Diary 250225</h1>

<p>Hello, this is RyanDavis, welcome to CrazyRabbitLab!!!</p>

<p>By the way, this diary is actually wirtten at 250226, because I was too tired to write the diary.</p>

<img src="~/image/Diary-250225-BikingRecord-[48487F07].webp"/>

<p>You may ask why you are so tired, it is because I have a long biking (at least very long for me, ^-^).</p>


<img src="~/image/Diary-250225-CocaCola-[C6CCC65D].webp"/>

<p>Before I started my biking, I bought a Coca Cole for me, because it is full of water and caffeine.</p>

<p>I enjoy caffeine when I do some hard works.</p>

<p>As you can see above, I had a biking about 60km, which is a really hard job for me now.</p>

<p>I did try my best, and I am really tired when I was home, there is no power left with me to write diary at that day.</p>

<p>And I have some good pictures for you!</p>

<img src="~/image/Diary-250225-Leaves-[9451D3CC].webp"/>

<img src="~/image/Diary-250225-LittleHouse-[B1FC9307].webp"/>

<img src="~/image/Diary-250225-Ostrich-[4CBCCB0F].webp"/>

<img src="~/image/Diary-250225-Scene-[4F9B47E1].webp"/>

<p>Do you like these? I even don't know there is an Ostrich before!!! That is a really big superise~ ^_^</p>

<p>And the sunshine is very great!!</p>

<p>Since it is early spring, everything is more yellow than green.</p>

<p>but I feel how the life born, it looks like something is growing on the planet!</p>

<p>I like it, how are you?</p>

<p>On the way home, I bought something to eat for dinner.</p>

<p>Because it is a really hard biking for me, I want to eat something good, so I went to another supermarket, where the price is much more resonable.</p>

<img src="~/image/Diary-250225-ChickenPrice-[96A39035].webp"/>

<img src="~/image/Diary-250225-CucumberPrice-[555D39C0].webp"/>

<img src="~/image/Diary-250225-GlovesPrice-[0C7675BC].webp"/>

<img src="~/image/Diary-250225-LettucePrice-[FB2D4C39].webp"/>

<img src="~/image/Diary-250225-TomatoPrice-[413F598F].webp"/>

<p>I bought a lot as you can see above, and maybe you can remember I said <a href="250224">the price is way too high</a> yesterday.</p>

<p>So I change to another supermarket, which is a little far away from my home, but the price is better.</p>

<p>You can see it at the pictures above, the price is much more reasonable, right?</p>

<p>I like the Chicken, it is cheap and good value.</p>

<img src="~/image/Diary-250225-ChickenCooked-[CB4A5DFE].webp"/>

<p>I dicided to pan-frying it, and cut it into pieces.</p>

<img src="~/image/Diary-250225-ChickenCookedandCut-[F8EBDC08].webp"/>

<p>It is looking good, but not tastes good, it tastes bad actually...... </p>

<p>After eating, I took a shower and go to bed~</p>

<p>That is my day, good night and see you tomorrow!</p>



<p>如果制造出不可战胜的无人战争机器人，是不是就可以只靠机器人决定战争胜负，就可以不死人了?</p>
<p>​俄乌战争三年了啊。。</p>。