@page


<h1>Diary 250223</h1>

<p>I slept too early last night to write a diary.</p>

<p>Today I had a 50km biking ride, which is very hard for me now.</p>

<img src="~/image/Diary-250223-Sport-[69333D6D].webp"/>

<p>I took some photos by my phone, but their format is heif, I don't know how to make it on my website.</p>

<p>Maybe converting them to png will be a good choice, I don't know, I will try it tomorrow.</p>

<p>When I came to home, I sleep for about 4 hours, I was really tired at that time.</p>

<p>And I am learning speech form Obama, who was the president.</p>

<p>I am not a fan of him, but his skill of speech is excellent, I am learning his speech skill.</p>

<p>And there is almost nothing special today, I had a bicycling and slept at home, that is all.</p>

<p>I spent 31.01 Chinese Yuan today.</p>

<ol>
    <li>Suger and some vegetables cost 9.01</li>
    <li>A bottle of 2L Coca Cola Zore, which is 7.00</li>
    <li>I ate a LaMian(拉面 which is very same to Ramen), that cost 10.00</li>
    <li>In the end, I bought 2 BingTangHuLu(冰糖葫芦) to share with my mom.</li>
</ol>

<p>It is just a normal day, goodd night for all people.</p>