@page


<h1>Diary 250223</h1>

<p>It is nothing special today too~</p>
<p>However, I have one thing to talk about.</p>

<p>It is about vegetables' price, it is so high these days!!!!</p>

<img src="~/image/Diary-250224-Vegetables-[949E5BFE].webp"/>

<p>There are some vegetables I bought today, and they cost me totally at 9.80 Chinese Yuan!!!</p>
<p>It is freaking expensive, I don't know if you can get what I am feeling now.</p>

<p>Just two tomatoes and a lettuce , the prive is flying like a rocket.</p>
<p>I could not believe it when I came to check out, 9.80 Cbinese Yuan!!!!</p>

<p>Inflation is everywhere, I need some time to accept it.</p>
<p>It is ridiculous, unbelievable, unacceptable!!</p>
<p>Someone should do something, inflation is too much now!</p>

<p>I wish my bank account is flying like inflation, which is just a daydream.</p>
<p>That is it, that is my life. </p>

<p>Good night, all human(maybe AI?) on earth!</p>
<p>And may you have a good day~</p>

<p>顺带一提，肌酸确实显肌肉，真的感觉变大了。</p>
<p>​承认之前自己的浅薄，补剂该吃还是要吃的。</p>
<p>但肩膀有点痛，还是要注意安全和恢复。</p>


<p>网站的最多访问者竟是我自己！</p>
<p>​小兔最近建了个新网站：CrazyRabbitLab.com</p>
<p>​欢迎大家访问呀～</p>
<p>虽然现在网站还很空，但各种文章都在慢慢转过去。</p>

<p>It should be accessible all over the world, be patient and try to open it again! （＾ω＾）</p>