@page


<h1>Diary 250220</h1>

<p>Today is February 20th, the weather is cold, a little windy.</p>
<p>I still slept a lot today, I slept about 12 hours today.</p>
<p>Went to hospital yesterday, it looks ok.</p>
<p>Still don't know why, maybe just because I am too tired.</p>
<p>I feel I am in high temperature, but when I use the machine to check my body's temperature, it is fine.</p>
<p>It looks very weried today.</p>
<p>And I tried to use mobile network to connect to my home storage server, it is very slow.</p>
<p>Four days ago maybe, I selfhosted my zerotier planet server, and connected my laptop with home storage server.</p>
<p>It works well in local network and city library, but when I use mobile network, the speed is really slow, just about 1MB/s, it is bad.</p>
<p>I don't know why, but udp connection may play a bad role here.</p>
<p>I feel sleepy now, good night!</p>

<p>很多时候，真的就是相信过去的自己。</p>
<p>​向神殿祈祷，回应的只有过去的自己。</p>
<p>相信自己吧！加油～</p>