@page


<h1>Diary 250221</h1>

<p>It is very windy today.</p>
<p>The gray sky makes me very uncomfortable, I can't breath well under iron.</p>
<p>Everything looks normal today, I don't sleep too much, my muscle is hurting, but much better than before.</p>
<p>However, mu joint hurts more, do I need an X-ray? I don't know.</p>
<p>It takes a long time for me to decide which framework to use between Bootstrap and TailwindCSS.</p>
<p>Finally, I decide to use Bootstrap, because it is easier to write code, and it can be more beautiful than I thought before.</p>
<p>Tomorrow I will do more at my website and learn some English, wish me luck.</p>

<p>I want to travel China with my bike, but I am not a strong man. I am still worried about that.</p>
<p>It must be a very hard and dangerous trip. But I want to see the real world, the real society, I have to do that.</p>
<p>I want to know how the society runs, which can not be solved only by paper.</p>
<p>It will be very diffcult, I am scared in fact, not only worried.</p>
<p>May myself have a sweet dream, good night! ^-^</p>