@page

<h1>250216</h1>

<p>坚持认知智能才是未来，应该令模型自动从传感器分析数据。</p>
<p>智能是抽象复杂结构的涌现：只要复杂度足够高+智能目标引导就一定能产生智能，与介质无关；同时谨记复杂度不会消失只会转移。</p>
<p>所以重点一定是设计出更好的承载复杂度的方式，并管理好复杂度。</p>


<p>有宝宝可能不太理解，这里解释一下小兔的想法：</p>
<p>1，什么是承载复杂度的方式：</p>
<p>简单来说，假如我们要计算两个整数的加法操作，可以使用纯人脑，可以使用纸笔，可以只用算盘，可以使用机械式计算机，也可以使用集成电路计算机。</p>
<p>问题没有任何变化，其对应的复杂度也没有变化，但是解决问题所使用的方式不同。</p>
<p>2，同时我们还要认识到：复杂度不会消失，所以如何将各种复杂度承载到不同的方式上，这是一个系统工程问题，需要整体思考并优化。</p>
<p>3，关于复杂度的数学表示：目前的整体思路是借鉴信息论中的信息熵，而不是算法中的大O表示，但具体还在想。</p>


<p>换句话说，在数学表示上，小兔更关注问题本身的复杂度如何使用数学表示，而不是解决问题方式的复杂度如何表示。</p>
<p>不是说后者不重要，而是前者可以直接厘定一个绝对限度，有平地起高楼的爽快感。</p>


<p>经过仔细思考以后，放弃了使用blazor技术。</p>
<p>转向aps net core razor pages，这个更符合需求一点。</p>
<p>​主要还是因为本来也没有很高的需求，razor pages写起来更简单，维护也更容易。</p>

<p>就在刚刚，又误删文件找不回来了。</p>
<p>​至少4个小时的工作啊啊啊啊啊啊！</p>
<p>​长点记性吧！傻兔子！</p>

<p>这段时间遇到的日本人怎么都在迟到，迟到，迟到。。。</p>
<p>​以后谁再说工匠精神，真不一定绷得住了。</p>