@page

<h1>Diary 250219</h1>

<p>Everything is normal, nothing special.</p>
<p>I went to hospital to check my body.</p>
<p>There do have some little problems, but since I am a young man, it shoule be ok~</p>

<p>I slept a lot these days, maybe because I exercise too much, my muscle is not feeling good now.</p>
<p>My body needs some time to recover from it.</p>

<p>And I am tryting to make my website looking better, but still not sure to use which framework.</p>
<p>Now the website is based on dotnet core razor pages, and I am hosting it on a VPS, which is connected with cloudflare by cloudfalre tunnel.</p>
<p>I am really thankful to cloudflare, they do lots of amazing works, and we can use it for free.</p>

<p>And I use two libraries, whice are mathjax to render math and highlight to render code.</p>
<p>Besides above, I write html and css by hand, it is not a very good choice, but it works fine now.</p>

<p>I want to learn something more about css in a few days later, which may help me to make this website looking better.</p>

<p>This is my first english daily diary, I find it is not as easy as I thought before.</p>
<p>I can read and listen to english news/course/paper and so on, but when I write and speak, everything is booming.</p>
<p>I am really bad at writing and speaking now, which is kind of frustrating.</p>

<p>However, I believe I will do better if I write and speak more.</p>
<p>Day is long, work hard, I will get it.</p>

<p>睡不着呀，好想打守望！</p>
<p>​一天不打，感觉身上有蚂蚁在爬～</p>


<p>睡醒了，就不想打了。</p>
<p>​好奇怪啊～我不明白。</p>