@page

<h1>250309</h1>

<p>彻底爆仓啦～</p>
<p>​You can't love the market only when you win.</p>
<p>热爱这个混乱动荡的市场，​但是时候说再见啦。</p>
<p>​很多很多想说的，万千思绪却开不了口。</p>
<p>刚开始进入市场就想着一定有这一天，现在倒是令人惊讶的平静。</p>
<p>​Setbacks are unavoidable, but giving up is unforgivable.</p>
<p>​休息几天开始新旅程吧～</p>

<p>这么多年了，路子确实一直比较野，未来肯定会栽在剑走偏锋上。</p>
<p>但不搞点事情，人生就太无聊啦！真诚相待，玩得开心就好～</p>