@page

<h1>250416</h1>

<p>重新复盘了一下爆仓的过程，​发现本质还是自毁倾向太重了。</p>
<p>​一开始进入加密货币市场就知道一定有爆仓这一天，早有心理准备。</p>
<p>​从大概一千美元入场，到最高两万美元获利，再到三天彻底爆仓归零。</p>
<p>​回顾那三天，本质上还是想要自毁；让所有的一切赶紧结束，已经不想继续了。</p>
<p>​就像我见鬼的人生，哈哈哈哈哈。。。</p>