@page

<h1>250412</h1>

<p>最近在玩一些跨平台编译的东西，很多东西看的眼晕。</p>
<p>下面是一个感觉不错的资料，感兴趣的宝宝可以看看。</p>
<p>RISC-V Support into LLVM’s libc: Challenges and Solutions for 32-bit and 64-bit</p>
<p>顺便一提，LLVM真的挺复杂的。。。</p>