@page

<h1>250508</h1>

<p>刚刚看到影视飓风关于4DGS的方案，这套技术真的很厉害。 </p>
<p>小兔很早之前弄过3DGS，感觉对光照条件要求比较高。</p>
<p>4DGS的方案，之前也想过做过一点，难点是大量传感器的高精度时间同步。</p>
<p>如果方案成熟的话，4DGS可以和虚拟制片结合，降低制作成本。</p>

<p>整体来讲是很有前景的技术，接下来相关领域的发展大概是：</p>
<p>1，提高时空两个方面的精度，</p>
<p>2，多类型的传感器数据融合，</p>
<p>3，​提高处理速度，简化使用方式。</p>