@page

<h1>250501</h1>

<p>在特定的光照与姿势下，已经可以隐隐约约的看到六块腹肌啦。</p>
<p>​整体来说，在大概两个月时间里减去了四千克，平均每个月减重两千克，符合预期。</p>
<p>​Project “水”计划顺利推进中，大概再减去四千克的脂肪，就算是完成基础目标了。</p>
<p>​这次减脂汲取了之前的教训，没有每天1000大卡起步的能量赤字，那样会情绪崩溃难以维持；而是维持300-500大卡的热量赤字。</p>
<p>同时尽可能提高了蛋白质的摄入，达到了两克每千克体重每天，瘦体重保持的不错，甚至感觉略有增长。</p>
<p>​最后则是以长时间低强度有氧运动为主，也注意到了关节健康。</p>
<p>​其实所谓的减脂，最重要的是养成新的生活习惯，不必特别关注具体体重数字，关注如何养成并维持新的生活习惯。</p>