@page

<h1>250628</h1>

<p>Windows存储空间双奇偶校验下写入速度是真慢，连100MB/s都没有，读取倒是1000+MB/s没什么问题。</p>

<p>之前用snapraid，后来转了一阵子truenas scale。现在又回到存储空间了，主要还是资金不足+需求不高。存点电影要啥高可用，cefs啥的，存储空间够用挺好。</p>
<p>顺便一提，truenas的zfs，其实如果不开去重对于内存要求并不高。</p>
<p>花了几百块，买了个n6000软路由，用的原版openwrt，还在弄docker，镜像网络访问很麻烦。</p>
<p>然后就是最近看上了一个泰安s3086的主板，但即便是二手价格也还是太高了，难绷。</p>
<p>​手上现在有五块16T的硬盘，想着再加几块，但是二手hc550又涨价了，从799-849-999一路看着涨的。</p>
<p>​DDR4 REG ECC竟然也涨价了，r7525/r740xd价格还没降到心理区间，超微那个amd zen3的四子星价格依然爆炸贵，a100也爆炸贵。</p>
<p>​a100都说从数据中心开始出货了，但还是巨贵，想玩的那几个都买不起，QAQ~</p>
<p>​唉，生活不易。手上那几台vps看看还要不要续费，开源节流吧。</p>
