@page

<h1>250726</h1>

<p>没有意外的话, 赶不上"无漾"的首发了, 比较可惜.</p>

<p>无漾那个身材体脂太夸张了, 降低要求到15-20左右的体脂倒是问题不大; 主要是那个胸和肩, 短时间内是真练不出来的.</p>

<p>Cos的服装和道具难, 毕竟是第一次做, 一直在想方案, 但目前还是没有好的思路.</p>
<p>这部分是最卡首发时间的, 也是我最没经验的.</p>

<p>Cos就是角色扮演, 一些台词和动作等试玩再录屏练习就好.</p>

<p>还原不仅仅有外在的还原, 还有内在的还原, 这部分就要看官方的背景资料和人物小传了.</p>

<p>再就是想玩一点花里胡哨的流体特效, 最近在想特效合成的事.</p>

<p>挺复杂的, 但感觉能玩得开心~</p>