@page

<h1>250708</h1>

<p>目前减脂方案: </p>

<p>不剧烈运动 主要静息+伸展活动</p>

<p>每日100g碳水(葡萄糖) 120g蛋白质(WPC80浓缩乳清蛋白100g + 牛奶两袋) 一颗鱼油 +适量新鲜蔬菜(一颗生菜和西红柿)</p>

<p>保证水的摄入.</p>

<p>为了维持精神状态, 可以喝无糖咖啡.</p>

<p>注意密切关注情绪变化与身体反应.</p>

<p>以及轻度的抗阻训练来维持肌肉.</p>