@page

<h1>日记 Diary-250805</h1>

<p>很多东西想不明白确实, 怎么都想不出来应该怎么做.</p>

<p>之前总是认为自己的最大天赋是在复杂系统中的惊人直觉, 现在虽然还是这么认为, 但还是感觉项目复杂度太高了, 完全超出能力了.</p>

<p>之前做过项目A的结构分析, 但是完全失败, 根本没法做, 复杂度太高以至于最基础的架构都搭不起来.</p>

<p>这两天算是好消息的是debian13发布了正式版, 在虚拟机里安装玩了玩挺好的.</p>

<p>当然, 目前的几个服务暂时还是不转移到debian13上, 虽然确实debian很稳, 服务也不是很严肃的不能停机的业务, 但先等等看一两个月.</p>

<p>到时候如果没问题就转过去就好, 应该也不会有什么大问题.</p>

<p>最后就是已经八月十号了, 我还是好懒啊, 早点睡醒一点啦!</p>

<p>ps: 最近发现一种很新的吃法, 无糖可乐配馒头, 很好玩~</p>

<p>小兔我一点也不喜欢JavaScript, 但好像不得不再学点了, 难过...</p>
<p>怀念CSharp的优雅语法.</p>