@page

<h1>250815</h1>

<p>今天守望先锋这边上线了一个新的辅助英雄试玩, 名字是无漾.</p>

<p>整体来讲, 感觉设计得还不错.</p>

<p>普攻弹道要适应一下, 大招的前摇比较要命.</p>

<p>技能组设计得不错, 整体比较和谐, 想象空间也不错.</p>

<p>建模ok, 动画衔接不错, 但是中文配音要改.</p>

<p>数值肯定是要改的, 但不是当前主要看的东西.</p>

<p>惊涛拍岸这个技能要好好放, 比较重要.</p>

<p>整体设计偏接, 打得要保守点.</p>

