@page

<h1>250814</h1>

<p>今天和樱花妹打游戏了,真开心~</p>

<p>除外的话, 还在想整体的架构, 这个并不是那个加密项目A.</p>

<p>因为打算更新一下五年规划 十年规划 和 二十年规划.</p>

<p>回首过往, 规划里的很多东西完成了, 但也有很多没有完成.</p>

<p>所以接下来的各种规划又到要更新的时候了.</p>

<p>关于计算加速的内容, 现在还在想.</p>

<p>制作ASIC芯片加速用户的具体业务.</p>

<p>整体来讲, 我认为还是可行的, 但真正的核心并不是技术, 主要还是要找业务.</p>

<p>技术层面上, ASIC设计确实并不容易, 有很多需要不断研究的点.</p>

<p>但我认为, ASIC设计也会逐渐变得越来越简单, ASIC成熟制程的价格也会不断降低.</p>

<p>就像PCB设计一样, 曾经也是非常具有技术难度的工作.</p>

<p>ASIC先进制程的工艺推进越来越难, 纯软件对于越来越复杂的计算需求难以为继, 未来一定是计算加速的世界.</p>

<p>最主要的还是寻找市场, 寻找有价值的问题.</p>