@page

<h1>Diary 250805</h1>

<p>好久没有写日记了, 因为实在是比较懒...</p>
<p>这段时间把网站下线啦, 现在又重新把网站精简了一下, 同时升级到了dotnet9.</p>
<p>升不升级, 其实没有什么太大的感觉, 就是老样子呗.</p>
<p>比较特殊的是今年感觉雨下得似乎很大, 比往年潮湿很多, 有一点点像我当时在广州的天气.</p>
<p>当然没有广州那会那么潮湿啦, 但这天气和往年比确实不一样.</p>
<p>有人说中国降水线北移了, 去年那会我还是不认同的, 今年这天气确实见鬼点.</p>