@page

<h1>250915</h1>

<p>今天其实仍然是啥也没干, 硬要说的话装模做样的看了半小时语言学的视频, 还有把自行车收拾准备了一下.</p>

<p>昨天晚上和一个韩国妹妹一起打守望来着, 挺开心的, 虽然游戏技术都不太好, 但真的挺开心的.</p>



<p>我们两个都很喜欢 Kpop Demon Slayer, 尤其是那首Golden, 非常有力量感, 我非常喜欢.</p>

<p>打完游戏在discord上聊天, 约定了生日会互换礼物, 挺开心的确实.</p>

<p>啊对, 现在是250915的凌晨, 写的是250914的日记, 我现在纯纯懒狗一点都不像写日记了.</p>

<p>本来说今天晚上把时间主要用在收拾自行车上, 结果很多东西做得挺快, 就这样吧.</p>

<p>早知道今天也和韩国妹妹一起打游戏了, /(ㄒoㄒ)/~~~</p>

<p>再就是EPIC送了幽灵行者2, 趁着这两天下载下来打了前两关, 还挺好玩的.</p>

<p>我比较喜欢第二关, 第一人称高速ACT战斗, 打起来非常爽, 虽然死了快100次才过.</p>

<p>其实打得稳一点会比较容易过, 但是还是把Shift用完追着Boss砍比较爽, 哈哈哈哈哈~</p>

<p>过两天再去把词根词缀的东西捡起来, 好多都忘了发现.</p>

<p>明天打算(也就是250915)是出去骑骑车, 锻炼身体, 不过有一说一那自行车我感觉需要好好保养一下了.</p>

<p>车子是迪卡侬的Riverside500, 花了1999块人民币, 当时感觉还挺贵的.</p>

<p>但是这么久用来下, 陪了自己快四千公里, 没出过什么问题, 没补过一次胎, 质量真好确实值得.</p>

<p>接下来要做的东西其实挺多的, 也比较头疼, 不知道应该怎么办, 头疼.</p>

<p>之前很多东西使用Project管理的, 但现在一点不想用了, 头疼.</p>

<p>那以后用什么管理也想不出来, 头疼.</p>

<p>算了就这么滴吧, 难绷~</p>

<p>最后就是, 好多东西看看怎么往CrabWebsite这边转移一下, 问药那边暂时冻结吧还是, 能力不足, 做出来也肯定不满意干脆冻结算了.</p>

<p>啊对, 这两天还有在玩Cubase, 那个官网的DemoProject里有个pop的很好听, 非常非常喜欢.</p>



<hr>
<p>下面是真!250915的日记</p>

<p>今天其实还是基本什么都没做, 大部分时间花在把自行车调整好上了, 尤其是主要加固了后面那个用来放行李的木板.</p>

<p>在就是今天好想和那个韩国小哥哥一起打游戏, 但是好像不在线, 可惜...</p>

<p>今天也好想樱花妹, 但是不知道为什么好几天不理我了, 搞不明白...</p>

<p>苹果手机新品看起来不错, 说真的现在安卓越来越封闭, 感觉越来越没必要选安卓了.</p>

<p>下一台手机要不就苹果吧, 安卓现在封闭性太强了, 我不喜欢.</p>

<p>苹果封闭性也很强, 但是整体系统设计得要比安卓好很多.</p>

<p>或者要不干脆就双持, 安卓用来娱乐, 苹果用来日常工作什么的.</p>

<p>蛋白粉好难喝... 难绷, 我不想喝蛋白粉...</p>

<p>啊对, 那个cubase得demo project, 就是我很喜欢的那个名字是: Cubase 12 - Pop Demo By Austin Hull.</p>

<p>这其实是一个cubase的官方示例工程, 但是我确实很喜欢这个小曲, 很好听.</p>

<p>一会把dotent的标准库看两眼, 然后就好好睡觉, 虽然按照过往经验来看, 每次说好好睡觉最后都会熬夜好久...</p>

<p>好了, 今天就这样了, 晚安思密达!</p>

<p>下了几个图包, 嘿嘿嘿, 这下真睡觉了要~</p>