@page

<h1>Diary 日记-2025</h1>

<ul>
	<li><a href="250219">250219</a></li>
	<li><a href="250220">250220</a></li>
	<li><a href="250221">250221</a></li>
	<li><a href="250223">250223</a></li>
	<li><a href="250224">250224</a></li>
	<li><a href="250225">250225</a></li>
	<li><a href="250331">250331</a></li>
	<li><a href="250508">250508</a></li>
	<li><a href="250511">250511</a></li>
	<li><a href="250512">250512</a></li>
	<li><a href="250514">250514</a></li>
	<li><a href="250516">250516</a></li>
	<li><a href="250519">250519</a></li>
	<li><a href="250522">250522</a></li>
	<li><a href="250523">250523</a></li>
	<li><a href="250525">250525</a></li>
	<li><a href="250601">250601</a></li>
	<li><a href="250603">250603</a></li>
	<li><a href="250604">250604</a></li>
	<li><a href="250606">250606</a></li>
	<li><a href="250607">250607</a></li>
	<li><a href="250608">250608</a></li>
	<li><a href="250616">250616</a></li>
	<li><a href="250619">250619</a></li>
	<li><a href="250621">250621</a></li>
	<li><a href="250623">250623</a></li>
	<li><a href="250625">250625</a></li>
	<li><a href="250627">250627</a></li>
	<li><a href="250628">250628</a></li>
	<li><a href="250629">250629</a></li>
	<li><a href="250704">250704</a></li>
	<li><a href="250705">250705</a></li>
	<li><a href="250707">250707</a></li>
	<li><a href="250708">250708</a></li>
	<li><a href="250709">250709</a></li>
	<li><a href="250713">250713</a></li>
	<li><a href="250718">250718</a></li>
	<li><a href="250726">250726</a></li>
	<li><a href="250803">250803</a></li>
	<li><a href="250805">250805</a></li>
	<li><a href="250807">250807</a></li>
	<li><a href="250810">250810</a></li>
	<li><a href="250811">250811</a></li>
	<li><a href="250812">250812</a></li>
	<li><a href="250813">250813</a></li>
	<li><a href="250814">250814</a></li>
	<li><a href="250815">250815</a></li>
	<li><a href="250818">250818</a></li>
</ul>

<p>现在是2025年啦! <br>2025 is now! </p>