@page

<h1>基础数据类型-浮点类型 BasicDataType-Float</h1>

@* ------------------------------------------------------------------------ *@

<h2 id="浮点数类型">浮点数类型</h2>
<p>浮点数类型指的就是数学中的带有小数点的小数类型.</p>
<p>在Dotnet中, 共有以下几种浮点数类型: <code>System.Half</code> <code>System.Single</code> <code>System.Double</code> <code>System.Decimal</code></p>
<p>其中, <code>System.Half</code> <code>System.Single</code> <code>System.Double</code>是二进制浮点数; <code>System.Decimal</code>是十进制浮点数.</p>

<ul>
    <li>静态数据: </li>
    <ul>
        <li></li>
    </ul>
    <li>静态操作: </li>
    <li>实例数据: </li>
    <li>实例操作: </li>
</ul>


