@page

<h1>基础数据类型 BasicDataType</h1>

@* ------------------------------------------------------------------------ *@

<ul>
    <li><a href="02-01-BasicDataType-Boolean">布尔类型</a></li>
    <li><a href="02-02-BasicDataType-Char">字符类型</a></li>
    <li><a href="02-03-BasicDataType-Int">整数类型</a></li>
    <li><a href="02-04-BasicDataType-Float">浮点数类型</a></li>
</ul>

@* ------------------------------------------------------------------------ *@

<p>基础数据类型指的是计算机编程语言标准库中最为基础的数据类型, 是构成其他数据类型的基础.</p>
<p>有时各种数据类型共享有相似的数据与操作, 下面使用<code>Type</code>或<code>TypeInstance</code>指代多种不同的数据类型.</p>
<p>需要注意: 在不同的语境中, <code>Type</code>或<code>TypeInstance</code>指代的数据类型的种类是不同的.</p>
<p>再次强调: 在不同的语境中, <code>Type</code>或<code>TypeInstance</code>指代的数据类型的种类是不同的.</p>
<p>最后强调: 在不同的语境中, <code>Type</code>或<code>TypeInstance</code>指代的数据类型的种类是不同的.</p>