@page

<h1>-able</h1>

<p>常见形态: -able -ible</p>

<p>含义:</p>
<ul>
    <li>that can be ~ed(能被...的)</li>
    <li>able to be ~ed(可被...的)</li>
</ul>

<h2>单词</h2>

<ul>
    <li><a href="../../Dictionary/adjustable">adjustable</a></li>
    <li><a href="../../Dictionary/exchangeable">exchangeable</a></li>
    <li><a href="../../Dictionary/classifiable">classifiable</a></li>
    <li><a href="../../Dictionary/movable">movable</a></li>
    <li><a href="../../Dictionary/audible">audible</a></li>
    <li><a href="../../Dictionary/credible">credible</a></li>
    <li><a href="../../Dictionary/permissible">permissible</a></li>
    <li><a href="../../Dictionary/perceptible">perceptible</a></li>

</ul>












