@page

<h1>-age</h1>

<p>常见形态: age</p>

<p>含义:</p>
<ul>
    <li>the act or result of something (表示行为或者行为的结果)</li>
    <li>a group of 或者 a place for ~s (表示该事物的群体或与该事物有关的场所)</li>
    <li>the condition of (表示事物的状况)</li>
</ul>

<p>需要注意的是, 后缀-age和单词age没有关系.</p>

<h2>单词</h2>

<p><a href="../../Dictionary/breakage">breakage</a></p>
<p><a href="../../Dictionary/marriage">marriage</a></p>
<p><a href="../../Dictionary/postage">postage</a></p>
<p><a href="../../Dictionary/baggage">baggage</a></p>
<p><a href="../../Dictionary/orphanage">orphanage</a></p>
<p><a href="../../Dictionary/pupilage">pupilage</a></p>