@page

<h1>-al</h1>

<p>常见形态: -al -ial -ical -ual</p>
 
<p>含义: </p>
<ul>
    <li>of...(...的); like...(像...的); have the nature of...(有...性质的)</li>
    <li>the act of ...ing(表示这个行为)</li>
</ul>

<h2>单词</h2>
<ul>
    <li><a href=" ">national</a></li>
    <li><a href=" ">industrial</a></li>
    <li><a href=" ">mental</a></li>
    <li><a href=" ">oral</a></li>
    <li><a href=" ">arrival</a></li>
    <li><a href=" ">denial</a></li>
</ul>