@page

<h1>-ance</h1>

<p>常见形态: -ance -ancy</p>

<p>含义: </p>
<ul>
    <li>the act of or fact of ~ing(表示行为); the quality or state of being ~ed(表示行为的性质或状态); a thing that ~s或what is ~ed(表示与行为有关的主体)</li>
</ul>

<h2>单词</h2>

<ul>
    <li><a href=" ">appearance</a></li>
    <li><a href=" ">annoyance</a></li>
    <li><a href=" ">conveyance</a></li>
    <li><a href=" ">contrivance</a></li>
    <li><a href=" ">ascendancy</a></li>
    <li><a href=" ">buoyancy</a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
    <li><a href=" "> </a></li>
</ul>