@page

<h1>-ant</h1>


<p>常见形态: -ant</p>

<p>含义: </p>
<ul>
    <li>that ~s; ~ing(表示...的, 作用相当于表示现在分词的词尾-ing)</li>
    <li>a person or thing that ~s(表示动作的主动人或物)</li>
</ul>

<p>需要注意的是: 凡是以-ant结尾的形容词, 常有与之对应的以-ance或-ancy结尾的名词.</p>

<h2>单词</h2>
<ul>
    <li><a href=" ">accordant</a></li>
    <li><a href=" ">triumphant</a></li>
    <li><a href=" ">distant</a></li>
    <li><a href=" ">errant</a></li>
    <li><a href=" ">vacant</a></li>
    <li><a href=" ">assistant</a></li>
    <li><a href=" ">disinfectant</a></li>
    <li><a href=" ">merchant</a></li>
    <li><a href=" ">pendant</a></li>
</ul>