@page

<h1>-ar</h1>


<p>常见形态: -ar -ular -icular</p>

<p>含义: </p>
<ul>
    <li></li>
</ul>


<h2>单词</h2>
<ul>
    <li><a href=" ">lunar</a></li>
    <li><a href=" ">nuclear</a></li>
    <li><a href=" ">familiar</a></li>
    <li><a href=" ">popular</a></li>
    <li><a href=" ">bursar</a></li>
    <li><a href=" ">justiciar</a></li>
    <li><a href=" ">cellar</a></li>
    <li><a href=" ">grammar</a></li>
    <li><a href=" "></a></li>
</ul>