@page

<h1>词缀 Affix</h1>

<ul>
    <li>常见词缀 PopularAffix</li>
    <ul>
        <li>前缀</li>
        <ul>
            <li><a href="a-">a-</a></li>
            <li><a href="an-">an-</a></li>
            <li><a href="ab-">ab-</a></li>
            <li><a href="ad-">ad-</a></li>
            <li><a href="ante-">ante-</a></li>
            <li><a href="anti-">anti-</a></li>
            <li><a href="be-">be-</a></li>
            <li><a href="bi-">bi-</a></li>
            <li><a href="by-">by-</a></li>
            <li><a href="circum-">circum-</a></li>
            <li><a href="com-">com-</a></li>
            <li><a href="contra-">contra-</a></li>
            <li><a href="counter-">counter-</a></li>
            <li><a href="de-">de-</a></li>
            <li><a href="di-">di-</a></li>
            <li><a href="dia-">dia-</a></li>
            <li><a href="dis-">dis-</a></li>
            <li><a href="en-">en-</a></li>
            <li><a href="ex-">ex-</a></li>
            <li><a href="extra-">extra-</a></li>
            <li><a href="for-">for-</a></li>
            <li><a href="fore-">fore-</a></li>
            <li><a href="in-">in-</a></li>
            <li><a href="inter-">inter-</a></li>
            <li><a href="kilo-">kilo-</a></li>
            <li><a href="mal-">mal-</a></li>
            <li><a href="micro-">micro-</a></li>
            <li><a href="mis-">mis-</a></li>
            <li><a href="multi-">multi-</a></li>
            <li><a href="non-">non-</a></li>
            <li><a href="ob-">ob-</a></li>
            <li><a href="out-">out-</a></li>
            <li><a href="over-">over-</a></li>
            <li><a href="para-">para-</a></li>
            <li><a href="per-">per-</a></li>
            <li><a href="peri-">peri-</a></li>
            <li><a href="post-">post-</a></li>
            <li><a href="pre-">pre-</a></li>
            <li><a href="pro-">pro-</a></li>
            <li><a href="re-">re-</a></li>
            <li><a href="se-">se-</a></li>
            <li><a href="self-">self-</a></li>
            <li><a href="semi-">semi-</a></li>
            <li><a href="sub-">sub-</a></li>
            <li><a href="super-">super-</a></li>
            <li><a href="sur-">sur-</a></li>
            <li><a href="syn-">syn-</a></li>
            <li><a href="tele-">tele-</a></li>
            <li><a href="trans-">trans-</a></li>
            <li><a href="tri-">tri-</a></li>
            <li><a href="ultra-">ultra-</a></li>
            <li><a href="un-">un-</a></li>
            <li><a href="under-">under-</a></li>
            <li><a href="up-">up-</a></li>
            <li><a href="with-">with-</a></li>
        </ul>
        <li>后缀</li>
        <ul>
            <li><a href="-able">-able</a></li>
            <li><a href="-age">-age</a></li>
            <li><a href="-al">-al</a></li>
            <li><a href="-ance">-ance</a></li>
            <li><a href="-ant">-ant</a></li>
            <li><a href="-ar">-ar</a></li>
            <li><a href="-ary">-ary</a></li>
            <li><a href="-ate">-ate</a></li>
            <li><a href="-dom">-dom</a></li>
            <li><a href="-ed">-ed</a></li>
            <li><a href="-ee">-ee</a></li>
            <li><a href="-en">-en</a></li>
            <li><a href="-ence">-ence</a></li>
            <li><a href="-ent">-ent</a></li>
            <li><a href="-er">-er</a></li>
            <li><a href="-ery">-ery</a></li>
            <li><a href="-ful">-ful</a></li>
            <li><a href="-fy">-fy</a></li>
            <li><a href="-hood">-hood</a></li>
            <li><a href="-ic">-ic</a></li>
            <li><a href="-ion">-ion</a></li>
            <li><a href="-ish">-ish</a></li>
            <li><a href="-ism">-ism</a></li>
            <li><a href="-ite">-ite</a></li>
            <li><a href="-ity">-ity</a></li>
            <li><a href="-ive">-ive</a></li>
            <li><a href="-ize">-ize</a></li>
            <li><a href="-less">-less</a></li>
            <li><a href="-logy">-logy</a></li>
            <li><a href="-ly">-ly</a></li>
            <li><a href="-ment">-ment</a></li>
            <li><a href="-ness">-ness</a></li>
            <li><a href="-or">-or</a></li>
            <li><a href="-ory">-ory</a></li>
            <li><a href="-our">-our</a></li>
            <li><a href="-ous">-ous</a></li>
            <li><a href="-ry">-ry</a></li>
            <li><a href="-ship">-ship</a></li>
            <li><a href="-some">-some</a></li>
            <li><a href="-th">-th</a></li>
            <li><a href="-ure">-ure</a></li>
            <li><a href="-ward">-ward</a></li>
            <li><a href="-wise">-wise</a></li>
            <li><a href="-y">-y</a></li>
        </ul>

    </ul>
    <li>更多词缀 MoreAffix</li>
    <ul>
        <li><a href=""></a></li>
    </ul>
</ul>