@page


<h1>Introduction to Website</h1>

<p>Building a website can be a really tough work.</p>
<p>Most modern websites are built on powerful frameworks, such as VUE/React/Angular and so on. </p>
<p>And there are more and more website frameworks are developed day by day. It seems really confusing for beginners.</p>

<p>However, almost all website frameworks are based on three parts, which are HTML CSS and JavaScript.</p>
<p>HTML stands for <b>Hypertext Markup Language</b>. </p>


