@page


<h1>东京大学申请 ApplicationToUniversityOfTokyo</h1>


<ul>
    <li>高中成绩单</li>
    <li>语言考试</li>
    <ul>
        <li>TOEFL</li>
        <li>JLPT</li>
    </ul>
    <li>学术水平测试</li>
    <ul>
        <li>SAT</li>
    </ul>
    <li>个人项目</li>
</ul>