@page

<h1>宣发 Publicity</h1>

<h2>流媒体视频网站上传要求</h2>

<p>笔者的视频设置</p>
<p>视频: </p>
<ul>
    <li>编码格式: h265</li>
    <li>分辨率: 1080*2160</li>
    <li>时长: 小于60秒</li>
    <li>帧率: 60帧每秒</li>
    <li>视频码率: vbr 平均20000kbps 峰值30000kbps</li>
    <li>颜色: BT.709 YUV420 8bit</li>
</ul>
<p>音频: </p>
<ul>
    <li>编码格式: aac</li>
    <li>声道数: 双声道立体声</li>
    <li>采样率: 48000kHz</li>
    <li>音频码率: 320kbps</li>
</ul>

<hr>

<p>抖音: </p>
<p>视频格式: flv,avi,wmv,mov,webm,mpeg4,ts, mpg,rm,rmvb,mkv,m4, 推荐格式mp4、webm</p>
<p>视频大小: 视频文件大小不超过16G, 时长在60分钟以内</p>
<p>视频分辨率: 推荐分辨率范围: 720P-1080P, 最大支持上传4k(3840 x 2160).</p>
<hr>

<p>快手: </p>
<p>视频大小: 支持时长30分钟以内，最大8GB的视频文件</p>
<p>视频格式: 支持常见视频格式，推荐使用mp4上传, 平台支持以下视频格式：</p>
<ul>
    <li>视频帧率：最高支持60帧</li>
    <li>编码格式：H.264、H.265</li>
    <li>封装格式：mp4、mov、flv、f4v、webm、mkv、rm、rmvb、m4v、3gp、3g2、wmv、avi、asf、mpg、mpeg、ts</li>
    <li>视频码率: 视频码率建议20000kbps（H264/AVC编码）视频峰值码率建议不超过60000kbps</li>
    <li>音频码率最高320kbps（AAC编码）</li>
    <li>分辨率最大支持4096x4096 120fps</li>
    <li>关键帧平均至少10秒一个</li>
    <li>色彩空间yuv420</li>
    <li>位深8bit</li>
    <li>声道数≤2</li>
    <li>采样率=44100</li>
    <li>逐行扫描</li>
</ul>
<hr>

<p>B站: </p>
<p>视频大小: 网页端视频上传大小上限为16G, 视频内容时长最长10小时, 粉丝量>=1000, 可以上传最大64G视频, 过长或超大视频建议分P或合集投稿.</p>
<p>视频格式: 网页端 客户端推荐上传格式为mp4或flv. 允许投稿的格式: mp4, flv, avi, wmv, mov, webm, mpeg4, ts, mpg, rm, rmvb, mkv, m4v.</p>
<p>视频码率: </p>
<ul>
    <li>分辨率最大支持: 8192*4320</li>
    <li>推荐视频分辨率: 1920*1080或者3840*2160</li>
    <li>推荐视频码率: 1080p大于6000kbps; 4k大于20000kbps; 8k大于40000kbps</li>
    <li>音频采样率: 48000Hz</li>
    <li>推荐音频码率: 320kbps</li>
    <li>逐行扫描 智能识别输出HDR 智能识别全景视频</li>
</ul>
<br>

<p>TikTok: </p>
<p>大小和时长: 大小上限30GB 视频时长60分钟</p>
<p>文件格式: 推荐mp4, 其他主流格式也受支持.</p>
<p>视频分辨率: 推荐高分辨率: 1080p 1440p 和 4k</p>
<p>长宽比: 推荐16:9 9:16</p>
<br>

<p>Youtube: </p>
<p>容器: mp4 不包含编辑列表 文件以moov atom开头(快速开始).</p>
<p>音频编解码器: AAC-LC Opus 或Eclipsa Audio </p>
<p>声道: 立体声 立体声+5.1声道 或立体声+Eclipsa Audio</p>
<p>采样率: 48kHz</p>
<p>视频编解码器: H.264</p>
<ul>
    <li>逐行扫描</li>
    <li>高配置</li>
    <li>两个连续B帧</li>
    <li>闭合GOP, GOP为帧速率的一半</li>
    <li>CABAC</li>
    <li>可变比特率 无需限制比特率, 您也可以参考下面的推荐比特率.</li>
    <li>色度二次采样: 420</li>
</ul>
<p>帧速率: 内容应以录制时的帧速率进行编码和上传</p>
<p>常用的帧速率包括: 24 25 30 48 50 和 60 帧每秒</p>
<p>视频比特率: </p>
<p>类型 视频比特率（标准帧速率）</p>
<p>（24、25、30） 视频比特率（高帧速率）</p>
<p>（48、50、60）</p>
<p>8K 80 - 160 Mbps 120 - 240 Mbps</p>
<p>2160p (4K) 35 - 45 Mbps 53 - 68 Mbps</p>
<p>1440p (2K) 16 Mbps 24 Mbps</p>
<p>1080p 8 Mbps 12 Mbps</p>
<p>720p 5 Mbps 7.5 Mbps</p>
<p>480p 2.5 Mbps 4 Mbps</p>
<p>360p 1 Mbps 1.5 Mbps</p>

<p></p>
<p>上传时推荐采用的音频比特率</p>
<p>类型 音频比特率</p>
<p>单声道 128 kbps</p>
<p>立体声 384 kbps</p>
<p>5.1 声道 512 kbps</p>
<p>对于 Eclipse Audio（沉浸式音频），我们建议每个声道为 128 kbps。</p>
<p>颜色空间: YouTube 推荐在上传 SDR 视频时采用 BT.709 作为标准颜色空间：</p>
