@page

<h1>工作流程 Workflow</h1>

<ul>
    <li><a href="01-Design">01-设计 Design</a></li>
    <li><a href="02-Production">02-制作 Production</a></li>
    <li><a href="03-Publicity">03-宣发 Publicity</a></li>
</ul>

<p>不同的项目对应有不同的制作流程, 但主要分为强设计类与弱设计类.</p>
<p>其中, 强设计类指的就是电影/动画; 弱设计类指的就是vlog/综艺.</p>

<p>影音制作流程就是工程实践下不断修正的流水线工作顺序.</p>
<p>需要注意的一点是, 没有完美的工作流程, 没有一劳永逸的整体设计, 一切都是随着工程需要不断更新的.</p>
<p>整体而言, 影音艺术作品工作流程主要分为三个阶段, 设计->制作->宣发.</p>
<p>在<b>设计阶段</b>: 设计阶段是整个制作流程的最前期, 从一个简单的主题逐渐丰富到一段完整的视听设计. 具体而言, 可以分为以下几个部分:</p>

<ol>
    <li>主题: 可以是情绪, 哲思, 印象, 疑问等等. 尽可能简单, 最好一句话能说清, 最重要的是要能够真正意义的触动人们的内心.</li>
    <li>故事大纲: 通常人们更喜欢故事来表达自我或传递思考. 讲一个故事是很简单的, 但讲一个有趣的故事很难.</li>
    <li>剧本(文字): 当我们明确了要讲什么故事后, 就要开始思考怎样将这个故事转换成一个明确的剧本, 也即是谁在什么环境下做了什么.</li>
    <li>视听设计(图文): 剧本完成后, 我们就要根据每一个(组)镜头进行视听设计. 视听设计是很复杂的, 但主要是关注如何从视觉和听觉角度将剧本表现出来.</li>
    <li>Previs(预演): 一般而言, 当我们完成视听设计后, 就可以准备进入制作阶段了. 但是在一些大项目中, 会根据视听设计低成本的制作一个最简视频, 也即是Previs(预演).</li>
</ol>

<p>在<b>制作阶段</b>: 制作阶段可以说是整个制作流程最为重要的时期, 是将我们的设计稿真正转化成实际产品的过程.</p>
<p>整个制作过程可以非常复杂, 但总的来讲分为三个部分: 分析 制作资产与综合.</p>

<ul>
    <li>分析: 分析是整个制作阶段的中心. 分析阶段我们会根据设计, 倒推资产需求, 进而得出制作方案.</li>
    <li>制作资产: 制作资产是整个制作阶段耗费资金最多的. 资产通常有两种制作方式: 现实或虚拟.</li>
    <li>综合: 综合是制作阶段的收尾, 这个阶段我们将前面获得的资产综合起来, 形成一个完整的产品.</li>
</ul>

<p>在<b>宣发阶段</b>: 宣发是距离项目获利最近的一个阶段. 不要忽视宣发的重要性, 宣发至少与制作阶段同等重要.</p>
