@page

<h1>编程语言介绍 IntroductionToProgrammingLanguage</h1>


























@* 
<ul>
    <li>编程语言及其历史</li>
    <ul>
        <li>机器语言</li>
        <li>汇编语言</li>
        <li>高级语言</li>
        <li>中间语言</li>
        <ul>
            <li>LLVM-IR</li>
            <li>dotnet-MSIL</li>
        </ul>
    </ul>
    <li>基本编译过程</li>
    <li>高级编程语言及其分类</li>
    <ul>
        <li>常见的高级编程语言</li>
        <li>动态语言与静态语言</li>
        <li>强类型语言与弱类型语言</li>
        <li>编译型语言 解释型语言与虚拟机语言</li>
    </ul>
    <li>常见编程范式</li>
    <ul>
        <li>命令式(过程式)</li>
        <li>函数式</li>
        <li>面向对象</li>
    </ul>
    <li>其他重要概念</li>
    <ul>
        <li>指令集 操作系统与标准C库</li>
        <li>数据与操作</li>
        <li>输入与输出</li>
        <li>数据结构与算法</li>
        <li>IO瓶颈与计算瓶颈</li>
        <li>多级存储</li>
        <ul>
            <li>存储性能指标</li>
            <ul>
                <li>带宽</li>
                <li>延迟</li>
                <li>容量</li>
                <li>稳定性</li>
                <li>成本</li>
            </ul>
            <li>L1 L2 L3</li>
            <li>内存</li>
            <li>硬盘</li>
            <li>网络</li>
        </ul> 

    </ul>
</ul>

<h2>编程语言</h2>
<p>编程语言就是一种和计算机交流沟通的语言.</p>
<p>计算机能够直接识别的只有二进制码, 也就是由大量0和1组成的序列, 这种又被称为机器语言.</p>
<p>人类直接阅读机器码很困难, 所以将机器语言(01序列)对应为汇编语言(使用英文字符对应机器语言中的指令).</p>
<p>随着计算机的发展, 人们希望能够提高编码效率, 所以高级编程语言, 比如C/C++等出现了.</p>
<p>高级编程语言通过一个程序将高级语言代码转换成计算机能够直接识别的机器语言, 这一步又叫做编译.</p>
<p>C#就是一种高级编程语言, 我们接下来要安装的就是C#语言的编译器.</p>
<p>需要注意的是, C#的编译器并不是直接将高级语言源代码编译成机器码, 而是先编译成MLIR(一种中间表示), 然后再通过CoreCLR执行. 详细情况比较复杂, 初学不必深究.</p>

 *@



