@page

<h1>基本数学 BasicMath</h1>

<p>基本数学指的是在程序运行时需要的最基本的数学数据与数学操作.</p>
<p>在Dotnet中指的是<code>System.Math</code>; <code>System.MathF</code>; <code>System.Random</code>.</p>
<p>其中: <code>System.Math</code>用于双精度运算; <code>System.MathF</code>用于单精度运算; <code>System.Random</code>用于生成随机数.</p>

<ul>
    <li>静态数据</li>
    <ul>
        <li>Double Math.E</li>
        <li>Double Math.PI</li>
        <li>Double Math.Tau</li>
    </ul>
    <li>静态操作</li>
    <li>实例数据</li>
    <li>实例操作</li>
</ul>