@page
<h1>日记 Diary</h1>
<ul>
	<li><a href="2024/Index">日记 Diary-2024</a></li>
	<li><a href="2025/Index">日记 Diary-2025</a></li>
	<li><a href="2026/Index">日记 Diary-2026</a></li>
	<li><a href="2027/Index">日记 Diary-2027</a></li>
</ul>
<p>生活不过随波逐流, 点点滴滴到黄昏. <br>This is my daily diary, just a life record. </p>