@page

<h1>Blender</h1>

<p>参考资料</p>

<ul>
    <li>https://docs.blender.org/manual/en/latest/</li>
</ul>



<p>使用blender进行视频剪辑时, 记得调整Properties->Render->Color Management->View Transform中的选型为Standard.</p>