@page

@*感谢微软开源的AspDotNetCore网站框架与CloudFlare提供的免费CDN支持, 谢谢.*@

<h1>欢迎! Welcome!</h1>

<p>所有伟大冒险都源自勇敢的第一步. <br>All Great Adventures Start With A Brave Step.</p>

<ul>
    <li><a href="Diary/Index">01-日记 Diary</a></li>
    <li><a href="Note/Index">02-笔记 Note</a></li>
    <li><a href="Project/Index">03-项目 Project</a></li>
    <li><a href="Academic/Index">04-学术 Academic</a></li>
    <li><a href="Hobby/Index">05-爱好 Hobby</a></li>
</ul>

<p>希望您能在这里找到些好玩有用的东西.^-^<br>Wish you could find something fun and useful here.</p>

@* 主业: 异构计算加速服务. *@

@* 副业: 数字艺术娱乐 + 全栈开发 *@