@page

<h1>DaVinci</h1>

<ul>
    <li><a href="Intro">介绍 Intro</a></li>
    <li><a href="Edit">剪辑 Edit</a></li>
    <li><a href="Fusion">合成 Fusion</a></li>
    <li><a href="Fairlight">音频 Fairlight</a></li>
    <li><a href="Deliver">导出 Deliver</a></li>
</ul>

