@page

<h1>软件操作 Software Operation</h1>

<ul>
    <li><a href="Photoshop/Index">Photoshop</a></li>
    <li><a href="AfterEffects/Index">AfterEffects</a></li>
    <li><a href="Blender/Index">Blender</a></li>
    <li><a href="Cubase/Index">Cubase</a></li>
    <li><a href="Houdini/Index">Houdini</a></li>
    <li><a href="FFmpeg/Index">FFmpeg</a></li>
    <li><a href="DaVinci/Index">DaVinci</a></li>
</ul>
            