@page

<h1>项目 Project</h1>
<ul>
	<li><a href="RegionAnalysis/Index">区域分析 RegionAnalysis</a></li>
	<li><a href="ApplicationToUniversity/Index">大学申请 ApplicationToUniversity</a></li>
	<li><a href="Qualification/Index">资格证书 Qualification</a></li>
	<li><a href="TAG-Weekly/Index">TAG周报 TAG-Weekly</a></li>
	<li><a href="PopularScience/Index">知识科普 PopularScience</a></li>
	<li><a href="MicroMovie/Index">微型电影 MicroMovie</a></li>
	<li><a href="SoftwareDevelopment/Index">软件开发 SoftwareDevelopment</a></li>
</ul>