@page

<h1>艺术娱乐 Art&Entertainment</h1>

<ul>
    <li>01-基础知识 Basic Knowledge</li>
    <ul>
        <li><a href="0101-Physics/Index">0101-物理规律 Physics</a></li>
        <li><a href="0102-Biology/Index">0102-生理基础 Biology</a></li>
        <li><a href="0103-Digital/Index">0103-数字原理 Digital</a></li>
        <li><a href="0104-Art/Index">0104-艺术原理 Art</a></li>
    </ul>
    <li>02-实践应用 Practice&Application</li>
    <ul>
        <li><a href="0201-ManualSkill/Index">0201-手工技巧 Manual Skill</a></li>
        <li><a href="0202-SoftwareOperation/Index">0202-软件操作 Software Operation</a></li>
        <li><a href="0203-Workflow/Index">0203-工作流程 Workflow</a></li>
    </ul>
    <li>03-项目经验 Project Experience</li>
    <ul>
        <li> </li>
    </ul>
</ul>

<p>什么是艺术? 艺术就是表达内容的一种特殊方式.</p>
<p>数字艺术指的是使用各种数字技术手段制作艺术作品.</p>
<p>数字艺术作为副业, 以低成本个性化为主, 保持对于市场需求与技术进步的长期关注.</p>
<p>注意: 耐心, 不以经济为主要目标, 重点在于曝光与关注度.</p>
<p>注意: 程序化 智能化以降低制作成本.</p>


