@page

<h1>AfterEffects</h1>

<p>这是关于Adobe公司旗下的特效合成软件AfterEffects的使用笔记.</p>
<p>笔记的主要思路是根据制作流程, 介绍需要用到的功能面板, 根据专题讨论一些高级功能, 最后总结常用特效合成制作方法.</p>

<p>参考资料: </p>

<ul>
    <li>Adobe官方手册: https://helpx.adobe.com/after-effects/user-guide.html</li>
</ul>

<h2>目录</h2>

<ul>
    <li>0100-预备知识</li>
    <ul>
        <li>0101-Adobe与AfterEffects</li>
        <li>0102-AE相关制作流程简介</li>
        <li>0103-认识AE界面</li>
        <li>0104-设置首选项并创建项目</li>
        <li>0105-合成与图层</li>
    </ul>
    <li>0200-基础面板</li>
    <ul>
        <li>0201-导入素材-项目面板</li>
        <li>0202-组织图层-时间轴面板01</li>
        <li>0203-添加效果-效果预设面板</li>
        <li>0204-关键帧与动画-时间轴面板02</li>
        <li>0205-预览结果-合成预览面板</li>
        <li>0206-渲染输出-渲染队列面板</li>
    </ul>
    <li>03-高级专题</li>
    <ul>
        <li>03-效果预设面板总结</li>
        <li>03-文本与图形</li>
        <li>03-跟踪与稳定</li>
        <li>03-抠像</li>
        <li>03-合成</li>
        <li>03-颜色</li>
        <li>03-表达式与自动化</li>
    </ul>
    <li>04-常用特效合成制作方法</li>

</ul>